/* 
    @Created on : 16-mar-2017, 18:40:46
    @Author     : RVS
    @Pag        :
    @version    :
*/

h1 , h4 {
    text-align: center;
}

#lapiz {
    text-align:center;
}

#basura{
    text-align:center;
}
