/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-nov-2015, 22:28:08
    Author     : TED
*/


.cuadrado {
    width: 100px; 
    height: 100px; 
    background: #428bca;
}


.polig{
    width:20px;
    height:20px;
    background:#444444;
    color:#EEEEEE;
} 

table.prueba {
    background: #99ff99 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}