#cajasoltar{
	float: left;
	width: 500px;
	height: 500px;
	margin: 100px 10px 10px 10px;
	border: 1px solid #999999;
}
#cajaimagenes{
	float: left;
	width: 720px;
	margin: 10px;
	border: 1px solid #999999;
}

#cajaimagenes > img{
	float: left;
	padding: 5px;
}

canvas{
	background:url("./imagen0.png");
	background-repeat:no-repeat;
}